@using React.AspNet
@{
    ViewData["Title"] = "Zadanie 1";
}
@section Scripts {
    <script src="~/lib/react/umd/react.development.js"></script>
    <script src="~/lib/react-dom/umd/react-dom.development.js"></script>

    <script src="@Url.Content("~/js/zad1.jsx")" type="module"></script>
}

<div id="content"></div>